<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main" style="color:#3333FF;">FAST FOOD</a>
            <button onclick="addDay(1)">1일 추가</button>
            <button onclick="resetTime()">시간 초기화</button>
        </div>

        <!-- /.navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/contract"><i class="fa fa-calendar-o fa-fw"></i> 수주 관리</a>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> 자재 관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a href="/order_plan">자재 발주 관리</a>
                            </li>
                            <li>
                                <a href="/order">자재 발주 내역</a>
                            </li>
                            <li>
                                <a href="/material">금일 자재 입고 등록</a>
                            </li>
                            <li>
                                <a href="/warehousing">자재 입고 내역</a>
                            </li>
                            <li>
                                <a href="/release">자재 출고 관리</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gears fa-fw"></i> 생산 관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/machine/productPlan">작업계획 관리</a>
                            </li>
                            <li>
                                <a href="/works/workList">작업 지시 관리 </a>
                            </li>
                            <li>
                                <a href="/machine/endProcess">작업실적 현황</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-truck fa-fw"></i> 출하 관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/endProduction">완제품 입고 관리</a>
                            </li>
                            <li>
                                <a href="/shipment">출하 예정 목록</a>
                            </li>
                            <li>
                                <a href="/shipCompletion">완료 출하 내역</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/current"><i class="fa fa-bar-chart-o fa-fw"></i> 제품별 수주량</a>
                    </li>
                    <li>
                        <a href="/facility"><i class="fa fa-wrench fa-fw"></i> 설비 관리</a>
                    </li>
                    <li>
                        <a href="/routing"><i class="fa fa-file-text-o fa-fw"></i> 품목 관리</span></a>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-info fa-fw"></i> 시스템 관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/code">코드 관리</a>
                            </li>
                            <li>
                                <a href="/client">고객 관리</a>
                            </li>
                            <li>
                                <a href="/vendor">업체 관리</a>
                            </li>
                            <li>
                                <a href="/employee">직원 관리</a>
                            </li>
                            <!--                            <li>-->
                            <!--                                <a href="/calendar">일정 관리</a>-->
                            <!--                            </li>-->
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <script>
        function addDay(days) {
            fetch('/addDays?days=' + days, {
                method: 'POST',
            }).then(response => {
                if (response.ok) {
                    alert('시간이 변경되었습니다.');
                    location.reload();  // 페이지를 새로고침하여 변경된 시간을 반영합니다.
                } else {
                    alert('시간 변경에 실패했습니다.');
                }
            }).catch(error => {
                console.error('error: ', error);
                alert('시간 변경 중 오류가 발생했습니다.');
            });
        }

        function resetTime() {
            fetch('/resetTime', {
                method: 'GET',
            }).then(response => {
                if (response.ok) {
                    alert('시간이 초기화되었습니다.');
                    location.reload();  // 페이지를 새로고침하여 변경된 시간을 반영합니다.
                } else {
                    alert('시간 초기화에 실패했습니다.');
                }
            }).catch(error => {
                console.error('error: ', error);
                alert('시간 초기화 중 오류가 발생했습니다.');
            });
        }

    </script>
</div>
</html>