<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<div layout:fragment="content">
    <style>
        .button-container {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
            margin-bottom: 10px;
        }

        .button-container button {
            margin-left: 10px; /* 버튼 사이의 간격 조정 */
        }

        #excel-btn {
            background-color: #2b542c;
        }

        .form-group label {
            margin-right: 10px;
        }

        .form-control {
            width: 150px;
            margin-right: 10px;
            display: inline-block;
        }

        .clientgroup {
            margin: 10px;
        }

        .client {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .client-title {
            margin-right: 10px;
        }
    </style>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">고객 관리</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!--버튼-->
        <div class="col-lg-12">
            <div class="button-container">
                <div class="button-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_modal">고객
                        등록
                    </button>
                </div>
                <div class="button-group">
                    <button class="btn btn-primary" style="background-color: #d58512" onclick="updateClientBtn()">고객 수정
                    </button>
                </div>
                <div class="button-group">
                    <button id="excel-btn" type="button" class="btn btn-success">엑셀 저장</button>
                </div>
            </div>
        </div>
        <!-- /버튼 -->

        <br/>

        <!-- 검색 패널 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" style="margin-bottom : 0">
                        <form th:action="@{/searchClient}" method="get">
                            <p class="fa fa-search"></p>
                            <label>고객코드</label><input class="form-control" name="clCode">
                            <label>고객명</label><input class="form-control" name="clName">
                            <label>고객분류</label><input class="form-control" name="clType">
                            <button type="submit" class="btn btn-primary">검색</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /검색 -->

        <br/>

        <!-- 고객 조회 테이블 -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            고객 목록
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall"></th>
                                    <th>고객코드</th>
                                    <th>고객명</th>
                                    <th>고객분류</th>
                                    <th>연락처</th>
                                    <th>전체 수주량</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="client : ${clients}">
                                    <td><input type="checkbox" class="client-checkbox"
                                               th:value="${client.clCode}"></td>
                                    <td th:text="${client.clCode}" onclick="clientDetail(this);"></td>
                                    <td th:text="${client.clName}"></td>
                                    <td th:text="${client.clType}"></td>
                                    <td th:text="${client.clPhone}"></td>
                                    <td th:text="${client.clAmount}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <!--현황 테이블-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            고객 현황
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example2">
                                <thead>
                                <tr>
                                    <th>수주 코드</th>
                                    <th>제품명</th>
                                    <th>수주량</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    <!-- 고객 등록 모달창 -->
    <div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">고객등록</h4>
                </div>
                <form class="newClient" action="client/new" role="form" method="post">
                    <div class="clientgroup">
                        <div class="form-group input-group">
                            <label>고객명</label>
                            <input class="form-control" id="clName" name="clName">
                        </div>
                        <div class="form-group input-group">
                            <label>고객분류</label>
                            <select class="form-control" id="clType" name="clType">
                                <option value="개인">개인</option>
                                <option value="단체">단체</option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <label>연락처</label>
                            <input class="form-control" id="clPhone" name="clPhone">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">등록</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- 고객 수정 모달창 -->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="modifyid">고객수정</h4>
                </div>
                <form class="updateClient" action="client/update" role="form" method="post">
                    <input type="hidden" id="clientCode2" name="clCode">
                    <div class="clientgroup">
                        <div class="form-group input-group">
                            <label>고객명</label>
                            <input class="form-control" id="clName2" name="clName" readonly>
                        </div>
                        <div class="form-group input-group">
                            <label>고객분류</label>
                            <input class="form-control" id="clType2" name="clType" readonly>
                        </div>
                        <div class="form-group input-group">
                            <label>연락처</label>
                            <input class="form-control" id="clPhone2" name="clPhone">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">수정</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>

<th:block layout:fragment="script">
    <script>
        //고객 수정
        function updateClientBtn() {
            var checkboxes = document.querySelectorAll('.clientCheckbox:checked');
            if (checkboxes.length === 0) {
                alert('수정할 고객을 선택해 주세요.')
                return;
            } else if (checkboxes.length > 1) {
                alert('하나의 항목만 선택해주세요.')
                return;
            }
            var selectedRow = checkboxes[0].closest('tr');
            selectedClientId = selectedRow.cells[1].textContent;
            var clientData = {
                clName: selectedRow.cells[2].textContent,
                clType: selectedRow.cells[3].textContent,
                clPhone: selectedRow.cells[4].textContent
            };

            $("#modify").modal('show');

            document.getElementById('clientCode2').value = selectedClientId;
            document.getElementById('clName2').value = clientData.clName;
            document.getElementById('clType2').value = clientData.clType;
            document.getElementById('clPhone2').value = clientData.clPhone;
        }

        //고객 상세 조회
        function clientDetail(cell) {
            var clCode = cell.textContent.trim();

            $.ajax({
                type: "GET",
                url: "/client/detail",
                data: {clCode: clCode},
                contentType: 'application/json',
                success: function (response) {
                    var tableBody = document.getElementById("dataTables-example2").getElementsByTagName('tbody')[0];
                    tableBody.innerHTML = ""; // 기존 데이터 지우기

                    $.each(response, function (client, index) {
                        var row = "<tr>" +
                            "<td>" + index.ctCode + "</td>" +
                            "<td>" + index.items.itName + "</td>" +
                            "<td>" + index.ctAmount + "</td>" +
                            "</tr>";
                        tableBody.innerHTML += row;
                    });
                },
                error: function (request, status, error) {
                    alert("데이터를 가져오는 중 오류가 발생했습니다.");
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }

        //엑셀
        $(document).ready(function () {
            $('#excel-btn').click(function () {
                var selectedItems = [];
                $('input.client-checkbox:checked').each(function () {
                    selectedItems.push($(this).val());
                });

                if (selectedItems.length === 0) {
                    alert('선택된 코드가 없습니다.');
                    return;
                }

                var form = $('<form action="/client/export/excel" method="POST"></form>');
                for (var i = 0; i < selectedItems.length; i++) {
                    form.append('<input type="hidden" name="clCode" value="' + selectedItems[i] + '">');
                }

                $('body').append(form);
                form.submit();
            });

            $('#checkall').click(function () {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        });

    </script>
</th:block>


</html>
