<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout1}">
<div layout:fragment="content">

    <style>
        .button-container {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
            margin-bottom: 10px;
        }

        .button-container button {
            margin-left: 10px; /* 버튼 사이의 간격 조정 */
        }

        .form-group label {
            margin-right: 10px;
        }

        .form-control {
            width: 150px;
            margin-right: 10px;
            display: inline-block;
        }

        .clientgroup {
            margin: 10px;
        }
    </style>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">코드 관리</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="col-lg-12">
            <div class="button-container">
                <div class="button-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_modal">코드
                        등록
                    </button>
                </div>
                <div class="button-group">
                    <button class="btn btn-danger" id="deleteBtn" onclick="deleteCodeBtn()">코드 삭제</button>
                </div>
                <div class="button-group">
                    <button id="excel-btn" type="button" class="btn btn-success">엑셀 저장</button>
                </div>
            </div>
        <br/>
        </div>
        <!--조회 패널-->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <form th:action="@{/searchCode}" method="get">
                            <p class="fa fa-search"></p>
                            <label>코드번호</label><input class="form-control" name="cNo" type="text">
                            <label>코드명</label><input class="form-control" name="cName" type="text">
                            <button type="submit" class="btn btn-primary">조회</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->

        <!--버튼-->
        <!-- /.col-lg-12 -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 500px">
                            <table style="width: 100%;font-size: large"
                                   class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall"></th>
                                    <th>번호</th>
                                    <th>코드</th>
                                    <th>코드명</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="code : ${codes}">
                                    <td><input type="checkbox" class="codeCheckbox" th:value="${code.cNo}"></td>
                                    <td th:text="${code.cNo}"></td>
                                    <td th:text="${code.cCode}"></td>
                                    <td th:text="${code.cName}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    <!-- 코드 등록 모달창 -->
    <div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">코드 등록</h4>
                </div>
                <form class="newCode" action="code/new" role="form" method="post">
                    <div class="clientgroup">
                        <div class="form-group input-group">
                            <label>코드</label>
                            <input class="form-control" id="cCode" name="cCode">
                        </div>
                        <div class="form-group input-group">
                            <label>코드 이름</label>
                            <input class="form-control" id="cName" name="cName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">등록</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<th:block layout:fragment="script">
    <script>
        function deleteCodeBtn() {
            var selectedCodes = [];
            var checkbox = document.querySelectorAll('input[type="checkbox"]');

            checkbox.forEach(function (box) {
                if (box.checked) {
                    var row = box.closest('tr');
                    var firstCell = row.cells[1];
                    selectedCodes.push(firstCell.innerText);
                }
            });

            var codeId = selectedCodes[0];

            if (selectedCodes.length !== 1) {
                alert('삭제할 코드를 하나만 선택해주세요.');
            } else if (confirm('코드를 삭제하시겠습니까?')) {
                fetch('/code/delete/' + codeId, {
                    method: 'POST',
                    headers: {
                        "Content-Type": 'application/json',
                    },
                }).then(response => {
                    if (response.ok) {
                        alert('삭제되었습니다.');
                        window.location.href = '/code';
                    } else {
                        alert('삭제에 실패했습니다.');
                    }
                }).catch(error => {
                    console.error('error: ', error);
                    alert('삭제 중 오류가 발생했습니다.');
                });
            }
        }

        $(document).ready(function () {
            $('#excel-btn').click(function () {
                var selectedItems = [];
                $('input.code-checkbox:checked').each(function () {
                    selectedItems.push($(this).val());
                });

                if (selectedItems.length === 0) {
                    alert('선택된 코드가 없습니다.');
                    return;
                }

                var form = $('<form action="/code/export/excel" method="POST"></form>');
                for (var i = 0; i < selectedItems.length; i++) {
                    form.append('<input type="hidden" name="cNo" value="' + selectedItems[i] + '">');
                }

                $('body').append(form);
                form.submit();
            });

            $('#checkall').click(function () {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        });
    </script>
</th:block>

</html>
