<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout1}">
<div layout:fragment="content">
    <style>
        .button-container {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
            margin-bottom: 10px;
        }
        .button-container button {
            margin-left: 10px; /* 버튼 사이의 간격 조정 */
        }
        #excel-btn {
            background-color: #2b542c;
        }
        .form-group label {
            margin-right: 10px;
        }
        .form-control {
            width: 150px;
            margin-right:10px;
            display: inline-block;
        }
        .add-btn {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
        }
        .item {
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .item-title {
            margin-right: 10px;
        }
    </style>

    <!-- Page Content -->
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">품목 관리</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <p class="fa fa-search"></p>
                        <label>품목코드</label><input class="form-control" id="itCodeSearch" >
                        <label>품목명</label><input class="form-control" id="itNameSearch">
                        <label>품목분류</label>
                        <select class="form-control" id="itTypeSearch">
                            <option value=" ">선택없음</option>
                            <option value="즙">즙</option>
                            <option value="젤리스틱">젤리스틱</option>
                        </select>
                        <button type="button" class="btn btn-primary" id="itemSearchBtn">검색</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        <!--버튼-->

        <div class="col-lg-12">
            <div class="button-container">
                <div  class="button-group">
                    <button type="button" class="btn btn-primary" id="createBtn" data-toggle="modal" data-target="#itemCreate">품목 등록</button>
                </div>
                <div  class="button-group">
                    <button id="excel-btn" type="button" class="btn btn-primary">엑셀 저장</button>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" onclick="location.href='/routing'">라우팅</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='/process'">BOM</a>
                            </li>
                        </ul>
                        <!-- /ul -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th width="2%"> </th>
                                    <th width="20%">품목코드</th>
                                    <th width="20%">품목명</th>
                                    <th width="20%">품목분류</th>
                                    <th width="20%">개수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="itemList" th:each="item : ${items}">
                                    <td><input type="checkbox" id="itemCheck" th:value="${item.itCode}"></td>
                                    <td th:text="${item.itCode}" id="showPanel" th:value="${item.itCode}"></td>
                                    <td class="center" th:text="${item.itName}" ></td>
                                    <td class="center" th:text="${item.itType}"></td>
                                    <td class="center" th:text="${item.itCnt}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <p class="fa fa-search"></p>
                                            <label>공정코드</label><input class="form-control" id="pcCodeSearch" >
                                            <label>공정명</label><input class="form-control" id="pcNameSearch">
                                            <label>공정내용</label><input class="form-control" id="pcCntSearch">
                                            <button type="button" class="btn btn-primary" id="processSearchBtn">검색</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="button-container">
                                    <div  class="button-group">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#process">공정 등록</button>
                                    </div>
                                </div>
                            </div>
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th width="2%"> </th>
                                    <th width="20%">공정코드</th>
                                    <th width="20%">공정명</th>
                                    <th width="20%">공정내용</th>
                                    <th width="20%">설비</th>
                                </tr>
                                </thead>
                                <tbody id="processList">
                                <tr class="processList" th:each="process : ${processList.process}">
                                    <td><input type="checkbox" class="checkbox" id="checkBox" th:value="${process.pcCode}"></td>
                                    <td th:text="${process.pcCode}"></td>
                                    <td class="center" th:text="${process.pcName}"></td>
                                    <td class="center" th:text="${process.pcCnt}"></td>
                                    <td class="center" th:text="${process.fcName}"></td>
                                </tr>
                                </tbody>

                            </table>

                            <div class="col-lg-12">
                                <div class="panel" id="panelshow" style="display: none">
                                    <div class="panel-body">
                                        <!--검색 패널-->

                                        <table width="100%" class="table table-striped table-bordered table-hover" >
                                            <thead>
                                            <tr>
                                                <th width="5%">번호</th>
                                                <th width="20%">공정코드</th>
                                                <th width="20%">공정명</th>
                                                <th width="20%">공정내용</th>
                                                <th width="20%">설비</th>
                                            </tr>
                                            </thead>
                                            <tbody id="itemInfo">

                                            </tbody>
                                        </table>
                                        <div>
                                            <input type="hidden" id="hiddenItCode">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <div class="modal fade" id="itemCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">품목 등록</h4>
                </div>
                <div class="modal-body">
                    <div class="item group">
                        <div class="item">
                            <label class="item-title">품목명</label><input class="form-control" id="itName">
                        </div>
                        <div class="item">
                            <label class="item-title">품목분류</label>
                            <select class="form-control" id="itType">
                                <option value="즙">즙</option>
                                <option value="젤리스틱">젤리스틱</option>
                            </select>
                        </div>
                        <div class="item">
                            <label class="item-title"> Box 당 개수<input class="form-control" id="itCnt" type="number"></label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="itemCreateBtn">등록</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="process" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Label">공정 등록</h4>
                </div>
                <div class="modal-body">
                    <div class="item group">
                        <div class="item">
                            <label class="item-title">공정명</label><input class="form-control" id="pcName" >
                        </div>
                        <div class="item">
                            <label class="item-title">공정내용</label><input class="form-control" id="pcCnt">
                        </div>
                        <div class="item">
                            <label class="item-title">설비</label>
                            <select class="form-control" id="facility" >
                                <option th:each="facility : ${facilityList}" th:text="${facility.fcName}" th:value="${facility.fcCode}"></option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="processBtn">등록</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /#wrapper -->

<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {

            // 품목을 클릭했을 때 라우팅 목록 출력됨
            $(".itemList").on("click", function() {
                var itCode = $(this).find("#showPanel").text().trim();
                $("#hiddenItCode").val(itCode);
               getRouting(itCode)
            });
            <!--품목 클릭 이벤트 끝-->

            let selectCheck = []; //공정 체크

            <!--체크박스를 누른 순서로 배열 입력-->
            document.querySelectorAll("#checkBox").forEach(checkbox => {
                checkbox.addEventListener("click", (event) => {
                    const value = event.target.value;
                    <!--체크되어 있는 값 비동기 db저장-->
                    var itCode = $("#hiddenItCode").val();
                    if (event.target.checked) {
                        selectCheck.push(value);
                        fetch("/routing", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                itCode : itCode,
                                pcCode : selectCheck
                            }),
                        }).then(() => {
                            getRouting(itCode)
                        });
                    } else {
                        <!--체크박스 해제할 때 db삭제-->
                        const index = selectCheck.indexOf(value);
                        if (index > -1) {
                            selectCheck.splice(index, 1);
                        }
                        fetch("/routing/" + itCode + "/" + value, {
                            method:"DELETE",
                        }).then(() => {
                            getRouting(itCode)
                        })
                    }
                });
            });



            //실시간 db출력하는 함수
            function getRouting(itCode) {
                $.ajax({
                    url: "/routing/" + itCode,
                    method: "GET",
                    success: function (data) {
                        var tableContent = "";
                        //var pcCodes = data.process.map(item => item.pcCode); // 서버에서 받은 공정 코드 리스트
                        data.process.forEach(function(item, index) {
                            tableContent += "<tr>" +
                                "<td>" + (index + 1) + "</td>" +
                                "<td>" + item.pcCode + "</td>" +
                                "<td>" + item.pcName + "</td>" +
                                "<td>" + item.pcCnt + "</td>" +
                                "<td>" + item.fcName + "</td>" +
                                "</tr>";

                        });
                        $("#itemInfo").html(tableContent);
                        $("#panelshow").show();
                        /*
                        $("#processList .checkbox").each(function() {
                            var pc = $(this).val();
                            if(pcCodes.includes(pc)) {
                                $(this).prop("checked", true);
                            }
                        })

                         */
                    },
                    error: function () {
                        alert("품목 정보를 불러오는 데 실패했습니다.");
                    }
                });
            }

            //품목 등록
            const createButton = document.getElementById("itemCreateBtn");
            if (createButton) {
                createButton.addEventListener("click", (event) => {
                    var itName = document.getElementById("itName").value;
                    var itType = document.getElementById("itType").value;
                    var itCnt = document.getElementById("itCnt").value;

                    if(!itName || !itCnt || !itType) {
                        alert("모두 입력해주세요. ");
                        return;
                    }
                    fetch("/items", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            itName: itName,
                            itType: itType,
                            itCnt: itCnt
                        }),
                    }).then(() => {
                        alert("등록 완료되었습니다. ");
                        location.replace("/routing");
                    });
                });
            }

            //공정 등록
            const processButton = document.getElementById("processBtn");
            if (processButton) {
                processButton.addEventListener("click", (event) => {
                    var pcName= document.getElementById("pcName").value;
                    var pcCnt= document.getElementById("pcCnt").value;
                    var fcCode= document.getElementById("facility").value

                    if(!pcName || !pcCnt || !fcCode) {
                        alert("모두 입력해주세요. ");
                        return;
                    }

                    fetch("/addProcess", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            pcName: pcName,
                            pcCnt: pcCnt,
                            fcCode : fcCode
                        }),
                    }).then(() => {
                        console.log(document.getElementById("facility").value)
                        alert("등록 완료되었습니다. ");
                        location.replace("/routing");
                    });
                });
            }

            $("#itemSearchBtn").on("click", function() {
                    var itCode= $("#itCodeSearch").val();
                    var itName= $("#itNameSearch").val();
                    var itType= $("#itTypeSearch").val();

                var queryParams = [
                    'itCode=' + itCode,
                    'itName=' + itName,
                    'itType=' + itType
                ];

                location.href = "/routing" + "?" + queryParams.join('&');
            });


            $("#processSearchBtn").on("click", function() {
                var pcCode= $("#pcCodeSearch").val();
                var pcName= $("#pcNameSearch").val();
                var pcCnt= $("#pcCntSearch").val();

                var queryParams = [
                    'itCode=' + itCode,
                    'itName=' + itName,
                    'itType=' + itType
                ];

                location.href = "/routing" + "?" + queryParams.join('&');
            });
        });


        <!--문서 시작 끝-->
    </script>

</th:block>
</div>
<!--page layout-->

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>


<!-- DataTables JavaScript -->
<script src="../../../../../../../startbootstrap-sb-admin-2-gh-pages/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../../../../../../../startbootstrap-sb-admin-2-gh-pages/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../../../../../../../startbootstrap-sb-admin-2-gh-pages/vendor/datatables-responsive/dataTables.responsive.js"></script>

<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

</body>

</html>
