<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mes - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="color:#3333FF">FAST FOOD</a>
        </div>

        <!-- /.navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i> 수주 관리</a>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 자재 관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a href="tables.html">자재 발주 관리</a>
                            </li>
                            <li>
                                <a href="morris.html">자재 입고 관리</a>
                            </li>
                            <li>
                                <a href="morris.html">자재 출고 관리</a>
                            </li>
                            <li>
                                <a href="morris.html">자재 현황</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> 생산 관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">작업계획 관리</a>
                            </li>
                            <li>
                                <a href="morris.html">작업지시 관리</a>
                            </li>
                            <li>
                                <a href="morris.html">작업실적 현황</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> 출하 관리</a>
                        <!-- /.nav-second-level -->
                        <ul class="nav nav-second-level">
                    </li>
                </ul>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> 현황 관리<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="panels-wells.html">P_시간당생산량</a>
                        </li>
                        <li>
                            <a href="buttons.html">C_재공재고</a>
                        </li>
                        <li>
                            <a href="notifications.html">카운트 현황</a>
                        </li>
                        <li>
                            <a href="notifications.html">제품 현황</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> 설비 관리</a>

                    <ul class="nav nav-second-level">

                        <!-- /.nav-second-level -->
                </li>
                </ul>
                <li class="active">
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> 기준정보 관리<span class="fa arrow"></span></a>

                    <ul class="nav nav-second-level">
                        <li>
                            <a class="active" href="/item">품목 관리</a>
                        </li>
                        <li>
                            <a class="active" href="/process">공정 관리</a>
                        </li>
                        <li>
                            <a class="active" href="/routing">라우팅 관리</a>
                        </li>
                        <li>
                            <a class="active" href="/bom">BOM 관리</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="active">
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> 시스템 관리<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="active" href="/code">코드 관리</a>
                        </li>
                        <li>
                            <a class="active" href="/client">고객 관리</a>
                        </li>
                        <li>
                            <a class="active" href="/vendor">업체 관리</a>
                        </li>
                    </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <style>
        .button-container {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
            margin-bottom: 10px;
        }
        .button-container button {
            margin-left: 10px; /* 버튼 사이의 간격 조정 */
        }
        #excel-btn {
            background-color: #2b542c;
        }
        .form-group label {
            margin-right: 10px;
        }
        .form-control {
            width: 150px;
            margin-right:10px;
            display: inline-block;
        }
        .close-btn {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
        }
        .add-btn {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
            margin-bottom: 10px;
        }

    </style>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">라우팅 등록/수정</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.col-lg-4 -->
        <!-- /.col-lg-12 -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <p class="fa fa-search"></p>
                                            <label>공정코드</label><input class="form-control" >
                                            <label>공정명</label><input class="form-control" >
                                            <label>공정분류</label><input class="form-control" >
                                            <button type="button" class="btn btn-primary">검색</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th width="5%">번호</th>
                                    <th width="2%"> </th>
                                    <th width="20%">공정코드</th>
                                    <th width="20%">공정명</th>
                                    <th width="20%">공정분류</th>
                                    <th width="20%">비고</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX">
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                    <td>v10101010</td>
                                    <td class="center">추출</td>
                                    <td class="center">추출</td>
                                    <td>  </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>2</td>
                                    <td><input type="checkbox"></td>
                                    <td>v10101010</td>
                                    <td class="center">여과</td>
                                    <td class="center">여과</td>
                                    <td>  </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>3</td>
                                    <td><input type="checkbox"></td>
                                    <td>v10101010</td>
                                    <td class="center">살균</td>
                                    <td class="center">살균</td>
                                    <td>  </td>
                                </tr>
                                </tbody>

                            </table>
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th width="5%">번호</th>
                                    <th width="20%">공정코드</th>
                                    <th width="20%">공정명</th>
                                    <th width="20%">공정분류</th>
                                    <th width="20%">비고</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX">
                                    <td>1</td>
                                    <td>v10101010</td>
                                    <td class="center">추출</td>
                                    <td class="center">추출</td>
                                    <td>  </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>2</td>
                                    <td>v10101010</td>
                                    <td class="center">여과</td>
                                    <td class="center">여과</td>
                                    <td>  </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>2</td>
                                    <td>v10101010</td>
                                    <td class="center">살균</td>
                                    <td class="center">살균</td>
                                    <td>  </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <div class="button-container">
            <div  class="button-group">
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/routingAdd'">라우팅 등록</button>
            </div>
        <div class="close-btn">
            <button type="button" class="btn btn-danger btn-lg" onclick="location.href='/item1'">취소</button>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>

</body>

</html>
