<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<th:block layout:fragment="css">
    <style>
        p, select {
            font-size: 16px;
        }

        #circle_green {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: green;
        }

        #circle_red {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: red;
        }

        #circle_yellow {
            width: 25px;
            height: 25px;
            border-radius: 50%;

            background-color: #ffcc00;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <script>
        $(function () {
            $('#searchBtn').click(function () {
                var fcCode = $("#fcCode").val();
                var fcName = $("#fcName").val();
                var searchStatus = $("#searchStatus").val();

                var queryParams = [
                    'fcCode=' + fcCode,
                    'fcName=' + fcName,
                    'searchStatus=' + searchStatus,
                ];

                location.href = "/facility" + "?" + queryParams.join('&');
            });
        });
        $(document).ready(function () {
            $('#excelExportBtn').click(function () {
                var selectedfacility = [];
                $('input.facility-checkbox:checked').each(function () {
                    selectedfacility.push($(this).attr('value'));
                });

                if (selectedfacility.length === 0) {
                    alert('선택된 출하 예정 목록이 없습니다.');
                    return;
                }

                var form = $('<form action="/facility/export/excel" method="POST"></form>');
                for (var i = 0; i < selectedfacility.length; i++) {
                    form.append('<input type="hidden" name="fcCode" value="' + selectedfacility[i] + '">');
                }

                $('body').append(form);

                // 폼을 명시적으로 제출합니다.
                form.submit();
            });
            $('#checkall').click(function () {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
            $(function () {
                $('#facilitySubmitBtn').click(function () {
                    var fcName = $("#fcName").val();
                    var fcCapa = $("#fcCapa").val();
                    var fcPreTime = $("#fcPreTime").val();
                    var fcDate = $("#fcDate").val();

                    if (!fcName || !fcCapa || !fcPreTime || !fcDate) {
                        alert('모든 칸을 입력해야 합니다.');
                        return false;
                    }
                });
            });
        });
    </script>
</th:block>
<div layout:fragment="content">

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">설비 관리</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row" style="padding-right: 15px; display: flex; justify-content: flex-end;">
                <!-- 버튼 모음 -->
                <button class="btn" type="button" style="background-color: rgb(189,215,238)" data-toggle="modal"
                        data-target="#facilityModal" id="facilityBtn">설비 등록
                </button>
                <button class="btn btn-success" id="excelExportBtn" type="button">엑셀 저장
                </button>
            </div>
            <!-- Modal -->
            <form role="form" method="post" th:object="${facilityDto}" th:action="@{'/facility/new'}">
                <div class="modal fade" id="facilityModal" tabindex="-1" role="dialog"
                     aria-labelledby="facilityModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="facilityModalLabel">설비 등록</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group input-group">
                                    <label>설비명</label>
                                    <input type="text" class="form-control" th:field="*{fcName}">
                                </div>
                                <div class="form-group input-group">
                                    <label>생산가능량</label>
                                    <input type="text" class="form-control" th:field="*{fcCapa}">
                                </div>
                                <div class="form-group input-group">
                                    <label>생산준비시간</label>
                                    <input type="text" class="form-control" th:field="*{fcPreTime}">
                                </div>
                                <div class="form-group input-group">
                                    <label>Cycle hour</label>
                                    <input type="text" class="form-control" th:field="*{cycleHour}">
                                </div>
                                <div class="form-group input-group">
                                    <label>설비입고일</label>
                                    <input type="date" class="form-control" th:field="*{fcDate}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="facilitySubmitBtn">등록</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Modal -->
            <br/>

            <form role="form" method="get" th:object="${facility}" th:action="@{'/facility'}">
                <th:block th:object="${facilitySearchDto}">
                    <!-- 조회 -->
                    <div class="panel panel-default">
                        <ul class="list-inline" style="margin: 15px 10px 10px 10px;">
                            <li>
                                <p>설비 코드 : <input th:field="*{fcCode}" type="text"></p>
                            </li>
                            <li>
                                <p>설비명 : <input th:field="*{fcName}" type="text"></p>
                            </li>
                            <li>
                                <p>동작여부 :
                                    <select th:field="*{searchStatus}">
                                        <option value="">전체</option>
                                        <option value="WORK">가동중</option>
                                        <option value="STANDBY">대기중</option>
                                        <option value="STOP">비가동</option>
                                    </select>
                                </p>
                            </li>
                            <li style="float: right;">
                                <button class="btn btn-primary" style="width: 60px;" id="searchBtn" type="submit">조회
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- 조회 끝-->
                </th:block>

                <br/>

                <!-- 테이블 1 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>설비 목록</h4>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" style="height: 500px; overflow: auto">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example"
                                       style="width: 100%; font-size: large;">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkall"></th>
                                        <th>설비코드</th>
                                        <th>설비명</th>
                                        <th>생산가능량</th>
                                        <th>생산준비시간</th>
                                        <th>Cycle hour</th>
                                        <th>설비입고일</th>
                                        <th>동작여부</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="facilitys : ${facility}">
                                        <td><input type="checkbox" class="facility-checkbox"
                                                   th:value="${facilitys.fcCode}"></td>
                                        <td th:text="${facilitys.fcCode}"></td>
                                        <td th:text="${facilitys.fcName}"></td>
                                        <td th:text="${facilitys.fcCapa}"></td>
                                        <td th:text="${facilitys.fcPreTime}"></td>
                                        <td th:text="${facilitys.cycleHour}"></td>
                                        <td th:text="${facilitys.fcDate}"></td>
                                        <td th:if="${facilitys.fcStatus == T(com.boot.fastfood.constant.FcStatus).WORK}">
                                            <div id="circle_green"></div>
                                        </td>
                                        <td th:if="${facilitys.fcStatus == T(com.boot.fastfood.constant.FcStatus).STANDBY}">
                                            <div id="circle_yellow"></div>
                                        </td>
                                        <td th:if="${facilitys.fcStatus == T(com.boot.fastfood.constant.FcStatus).STOP}">
                                            <div id="circle_red"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- 테이블 1 끝-->
            </form>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>


