<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<div layout:fragment="content">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">입고 예정 자재</h1>
                </div>
            </div>
            <!--검색-->
            <div class="row">
                <div class="col-lg-12" style="border: 1px solid black">
                    <form th:action="@{/searchMaterial}" method="get">
                        <ul class="list-inline">
                            <li>
                                <h4>발주 코드 : <input type="text" name="odCode"></h4>
                            </li>
                            <li>
                                <h4>원자재명 :
                                    <select name="mtName">
                                        <option value="">전체</option>
                                        <option th:each="material : ${materials}" th:value="${material.mtName}"
                                                th:text="${material.mtName}"></option>
                                    </select>
                                </h4>
                            </li>
                            <li>
                                <h4>입고 예정일 : <input type="date" name="odDueDate"></h4>
                            </li>
                            <button class="btn btn-primary" style="float: right" type="submit">조회</button>
                        </ul>
                    </form>
                </div>
            </div>
            <!--검색 끝-->
            <!-- 테이블 1 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            입고 예정 자재
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 200px; overflow: auto">
                            <div class="panel-body" style="height: 200px; overflow: auto">
                                <table class="table table-striped table-bordered table-hover" style="width: 100%;"
                                       id="dataTables-example2">
                                    <thead>
                                    <tr>
                                        <th>발주 코드</th>
                                        <th>입고 예정일</th>
                                        <th>거래처</th>
                                        <th>원자재명</th>
                                        <th>입고량</th>
                                        <th>입고단위</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${orders}" th:if="${order.whStatus == 0}">
                                        <td th:text="${order.odCode}"></td>
                                        <td th:text="${order.odDueDate}"></td>
                                        <td th:text="${order.materials.vendor.vdName}"></td>
                                        <td th:text="${order.materials.mtName}"></td>
                                        <td th:text="${order.odAmount}"></td>
                                        <td>kg</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- 테이블 1 끝-->
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">금일 자재 입고 등록</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                자재 입고 등록
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" style="height: 200px; overflow: auto">
                                <form method="post" th:action="@{/material}">
                                    <div class="table-container">
                                        <table class="table table-striped table-bordered table-hover"
                                               style="width: 100%;"
                                               id="dataTables-example">
                                            <thead>
                                            <tr>
                                                <th>발주 코드</th>
                                                <th>입고 예정일</th>
                                                <th>거래처</th>
                                                <th>원자재명</th>
                                                <th>입고량</th>
                                                <th>입고단위</th>
                                                <th>등록</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="todayOrder, orderIndex : ${todayOrders}"
                                                th:if="${todayOrder.whStatus == 0}">
                                                <td th:text="${todayOrder.odCode}"></td>
                                                <td th:text="${todayOrder.odDueDate}"></td>
                                                <td th:text="${todayOrder.materials.vendor.vdName}"></td>
                                                <td th:text="${todayOrder.materials.mtName}"></td>
                                                <td th:text="${todayOrder.odAmount}"></td>
                                                <td>kg</td>
                                                <td>
                                                    <form method="post" th:action="@{/material}">
                                                        <input type="hidden" name="odCode"
                                                               th:value="${todayOrder.odCode}"/>
                                                        <input type="hidden" name="emName"
                                                               th:value="${todayOrder.employee.emName}"/>
                                                        <button type="button" class="btn btn-success saveOrderBtn"
                                                                id="saveOrderBtn"
                                                                th:data-order-index="${orderIndex.index}"
                                                                th:data-od-code="${todayOrder.odCode}"
                                                                th:data-em-name="${todayOrder.employee.emName}">등록하기
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#wrapper -->
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            $('#saveWorkerBtn').click(function () {
                // Save worker logic here
                $('#registerModal').modal('hide');
            });

            $('#saveOrderBtn').click(function () {
                // 경고창 띄우기
                if (confirm('정말 등록하시겠습니까? 자재 입고 등록시 취소가 불가능합니다.')) {
                    // 데이터 추출
                    var odCode = $(this).data('od-code');
                    var emName = $(this).data('em-name');

                    // AJAX 요청
                    $.ajax({
                        type: 'POST',
                        url: '/material',
                        data: {
                            odCode: odCode,
                            emName: emName
                        },
                        success: function (response) {
                            alert('등록이 완료되었습니다.');
                            $('#addOrderModal').modal('hide');
                            window.location.reload();
                        },
                        error: function () {
                            alert('등록에 실패했습니다. 다시 시도해 주세요.');
                        }
                    });
                } else {
                    alert('등록을 취소하였습니다.');
                }
            });
        });
    </script>
</th:block>
</html>
