<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<th:block layout:fragment="css">
    <style>
        p, select{
            font-size: 16px;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script>
        function orders(){
            var emName = $("#emName").val();

            if(emName === "null"){
                alert('작업자를 선택하세요.');
            }else if(confirm('발주등록시 취소가 불가능합니다.\n발주하시겠습니까?')){
                fetch('/order_plan/add/' + emName,{
                    method: 'POST',
                    headers: {
                        "Content-Type": 'application/json',
                    },
                }).then(response => response.json())
                    .then(data  => {
                        if(data.message === '발주등록되었습니다.'){
                            alert(data.message);
                            window.location.href = '/order_plan';
                        }else if (data.message === '오늘 발주내역이 있습니다.') {
                            alert(data.message);
                            window.location.href = '/order_plan';
                        }
                }).catch(error => {
                    console.error('error: ', error);
                    alert('발주등록 중 오류가 발생했습니다.');
                });
            }
        }

        function orderBox(){
            var emName = $("#emName").val();
            var boxNum = $("#boxNum").val();

            var param = {
                'emName' : emName,
                'boxNum' : boxNum
            };

            if(emName === "null"){
                alert('작업자를 선택하세요.');
            }else if(confirm('발주등록시 취소가 불가능합니다.\n발주하시겠습니까?')){
                fetch('/order_plan/box',{
                    method: 'POST',
                    headers: {
                        "Content-Type": 'application/json',
                    },
                    body: JSON.stringify(param),
                }).then(response => response.json())
                    .then(data  => {
                        if(data.message === '발주등록되었습니다.'){
                            alert(data.message);
                            window.location.href = '/order_plan';
                        }else if (data.message === '오늘 발주내역이 있습니다.') {
                            alert(data.message);
                            window.location.href = '/order_plan';
                        }
                }).catch(error => {
                    console.error('error: ', error);
                    alert('발주등록 중 오류가 발생했습니다.');
                });
            }
        }

        function orderWrap(){
            var emName = $("#emName").val();
            var wrapNum = $("#wrapNum").val();

            var param = {
                'emName' : emName,
                'wrapNum' : wrapNum
            };

            if(emName === "null"){
                alert('작업자를 선택하세요.');
            }else if(confirm('발주등록시 취소가 불가능합니다.\n발주하시겠습니까?')){
                fetch('/order_plan/wrap',{
                    method: 'POST',
                    headers: {
                        "Content-Type": 'application/json',
                    },
                    body: JSON.stringify(param),
                }).then(response => response.json())
                    .then(data  => {
                        if(data.message === '발주등록되었습니다.'){
                            alert(data.message);
                            window.location.href = '/order_plan';
                        }else if (data.message === '오늘 발주내역이 있습니다.') {
                            alert(data.message);
                            window.location.href = '/order_plan';
                        }
                }).catch(error => {
                    console.error('error: ', error);
                    alert('발주등록 중 오류가 발생했습니다.');
                });
            }
        }

    </script>
</th:block>

<div layout:fragment="content">

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">자재 발주 관리</h1>
                </div>

                <div style="float: left; margin-left: 18px">
                    <p>작업자 :
                        <select id="emName">
                            <option value="null">선택</option>
                            <th:block th:each="employee : ${employees}">
                                <option th:text="${employee.emName}" th:value="${employee.emName}"></option>
                            </th:block>
                        </select>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>발주 예정</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 300px; overflow: auto">
                            <table class="table table-striped table-bordered table-hover" style="width: 100%; font-size: large;" th:each="orders : ${ordersByDate}">
                                <caption style="font-weight: bold;" th:text="'발주예정일 ' + ${orders.key}"></caption>
                                <thead>
                                <tr>
                                    <th>원자재명</th>
                                    <th>발주량 (kg, L)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orders.value}">
                                    <td th:text="${order.materials.mtName}"></td>
                                    <td th:text="${order.totalAmount}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- 테이블 2 끝-->

            <form role="form" method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>금일 발주량 (kg, L)</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 300px; overflow: auto">
                            <table class="table table-striped table-bordered table-hover" style="width: 100%; font-size: large;">
                                <thead>
                                <tr>
                                    <th th:each="orderToday : ${orderTodayList}" th:text="${orderToday.materials.mtName}"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:each="orderToday : ${orderTodayList}" th:text="${orderToday.totalAmount}"></td>
                                    <td>
                                        <button id="saveOrderBtn" class="btn btn-success" type="button" onclick="orders()">발주하기</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
<!--                             /.table-responsive-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- 테이블 2 끝-->
            </form>

            <div class="row" th:if="${wrap} != null">
                <div class="col-lg-12" th:if="${box} != null">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>포장지, Box 발주</h4>
                        </div>

                        <div class="panel-body" style="height: 300px; overflow: auto">
                            <table class="table table-striped table-bordered table-hover" style="width: 100%; font-size: large;">

                                <caption th:if="${box.mtStock} < 5000" style="color: red; padding: 5px">
                                    Box 발주가 필요합니다.
                                </caption>
                                <caption th:if="${wrap.mtStock} < 50000" style="color: red; padding: 5px">
                                    포장지 발주가 필요합니다.
                                </caption>
                                <thead>
                                <tr>
                                    <th>자재명</th>
                                    <th>재고</th>
                                    <th>발주량 선택</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${box.mtName}"></td>
                                    <td th:text="${box.mtStock}"></td>
                                    <td>
                                        <select id="boxNum">
                                            <option value="1000">1000(개)</option>
                                            <option value="2000">2000(개)</option>
                                            <option value="3000">3000(개)</option>
                                            <option value="4000">4000(개)</option>
                                            <option value="5000">5000(개)</option>
                                            <option value="6000">6000(개)</option>
                                            <option value="7000">7000(개)</option>
                                            <option value="8000">8000(개)</option>
                                            <option value="9000">9000(개)</option>
                                            <option value="10000">10000(개)</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" type="button" onclick="orderBox()">발주하기</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td th:text="${wrap.mtName}"></td>
                                    <td th:text="${wrap.mtStock}"></td>
                                    <td>
                                        <select id="wrapNum">
                                            <option value="10000">10000(개)</option>
                                            <option value="20000">20000(개)</option>
                                            <option value="30000">30000(개)</option>
                                            <option value="40000">40000(개)</option>
                                            <option value="50000">50000(개)</option>
                                            <option value="60000">60000(개)</option>
                                            <option value="70000">70000(개)</option>
                                            <option value="80000">80000(개)</option>
                                            <option value="90000">90000(개)</option>
                                            <option value="100000">100000(개)</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" type="button" onclick="orderWrap()">발주하기</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
