<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<div layout:fragment="content">

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">자재 입고 내역<h5>(단위 kg,L기준)</h5></h1>
                </div>
                <div class="col-lg-12 text-right mb-20">
                    <button id="excelExportBtn" class="btn btn-success">엑셀 저장</button>
                </div>
                <!-- 조회 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <form th:action="@{/searchWarehousing}" method="get">
                                    <ul class="list-inline">
                                        <li>
                                            <label>발주 코드 : <input type="text" name="odCode"></label>
                                        </li>
                                        <li>
                                            <label>거래처 : <input type="text" name="vdName"></label>
                                        </li>
                                        <li>
                                            <label>입고일 : <input type="date" name="whDate"></label>
                                        </li>
                                        <li>
                                            <label>원자재명 :
                                                <select name="mtName">
                                                    <option value="">전체</option>
                                                    <option th:each="material : ${materials}"
                                                            th:value="${material.mtName}"
                                                            th:text="${material.mtName}"></option>
                                                </select>
                                            </label>
                                        </li>
                                        <li>
                                            <label>작업자 :
                                                <select name="emName">
                                                    <option value="">전체</option>
                                                    <option th:each="employee : ${employees}"
                                                            th:value="${employee.emName}"
                                                            th:text="${employee.emName}"></option>
                                                </select>
                                            </label>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary" type="submit">조회</button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 조회 끝-->

            </div>
            <!-- /.row -->
            <!-- 테이블 1 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>입고 목록</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 500px; overflow: auto">
                            <table class="table table-striped table-bordered table-hover" style="width: 100%; font-size: large"
                                   id="dataTables-example">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall"></th>
                                    <th>발주 코드</th>
                                    <th>입고 코드</th>
                                    <th>입고일</th>
                                    <th>거래처</th>
                                    <th>원자재명</th>
                                    <th>입고량</th>
                                    <th>작업자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="warehousing : ${warehousings}">
                                    <td><input type="checkbox" class="warehousing-checkbox"
                                               th:value="${warehousing.whCode}"></td>
                                    <td th:text="${warehousing.orders.odCode}"></td>
                                    <td th:text="${warehousing.whCode}"></td>
                                    <td th:text="${warehousing.whDate}"></td>
                                    <td th:text="${warehousing.vendor.vdName}"></td>
                                    <td th:text="${warehousing.materials.mtName}"></td>
                                    <td th:text="${warehousing.orders.odAmount}"></td>
                                    <td th:text="${warehousing.employee.emName}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- 테이블 1 끝-->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!-- /#wrapper -->

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            $('#checkall').click(function () {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
            $('#excelExportBtn').click(function () {
                var selectedWarehousings = [];
                $('input.warehousing-checkbox:checked').each(function () {
                    selectedWarehousings.push($(this).attr('value'));
                });

                if (selectedWarehousings.length === 0) {
                    alert('선택된 자재 입고 내역이 없습니다.');
                    return;
                }

                var form = $('<form action="/warehousing/export/excel" method="POST"></form>');
                for (var i = 0; i < selectedWarehousings.length; i++) {
                    form.append('<input type="hidden" name="whCode" value="' + selectedWarehousings[i] + '">');
                }

                $('body').append(form);

                // 폼을 명시적으로 제출합니다.
                form.submit();
            });
        });

    </script>
</th:block>

</html>
