<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<div layout:fragment="content">
    <style>
        .button-container {
            display: flex;
            justify-content: flex-end; /* 왼쪽 정렬 */
            margin-bottom: 10px;
        }

        .button-container button {
            margin-left: 10px; /* 버튼 사이의 간격 조정 */
        }

        .form-group label {
            margin-right: 10px;
        }

        .form-control {
            width: 150px;
            margin-right: 10px;
            display: inline-block;
        }

        hr {
            margin-top: 10px;
        }
    </style>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">작업 지시 관리</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- 버튼 모음 -->
            <div class="list-inline text-right">
                <button type="button" class="btn btn-success">엑셀 저장</button>
            </div>
            <!--버튼끝-->

            <br/>

            <!-- 조회 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form th:action="@{/works/searchWorkList}" method="get">
                                <div class="form-group">
                                    <ul class="list-inline" style="margin-bottom: 0">
                                        <li>
                                            <label>작업계획 코드 : <input name="wkCode"></label>
                                        </li>
                                        <li>
                                            <label>작업 시작 일시 : <input type="date" name="startTime" id="startTime"></label>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary">조회</button>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 조회 끝-->

            <br/>

            <!-- 테이블 1 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>생산 계획 테이블</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 80%; overflow: auto">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example"
                                   style="width: 100%; font-size: large;">
                                <thead>
                                <tr>
                                    <th class="text-center"><input type="checkbox"></th>
                                    <th class="text-center">작업 지시 코드</th>
                                    <th class="text-center">작업 투입량</th>
                                    <th class="text-center">작업 완료량</th>
                                    <th class="text-center">작업 시작 일시</th>
                                    <th class="text-center">작업 종료 일시</th>
                                    <th class="text-center">담당자</th>
                                    <th class="text-center">작업 시작</th>
                                    <th class="text-center">작업 종료</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--th:if="${work.SDate == today}"-->
                                <tr th:each="work : ${works}">
                                    <td><input type="checkbox" class=""></td>
                                    <td th:text="${work.wkCode}"></td>
                                    <td th:text="${work.wkInput}"></td>
                                    <td th:text="${work.wkOutput}"></td>
                                    <td class="date-format" th:text="${work.SDate}"></td>
                                    <td class="date-format" th:text="${work.EDate}"></td>
                                    <td th:if="${work.RSDate == null}">
                                        <select name="emName" th:id="${work.wkCode}">
                                            <option value="null">선택</option>
                                            <th:block th:each="employees : ${employees}">
                                                <option th:value="${employees.emName}" th:text="${employees.emName}"></option>
                                            </th:block>
                                        </select>
                                    </td>
                                    <td th:if="${work.RSDate} != null" th:text="${work.employee.emName}"></td>
                                    <td th:if="${work.RSDate} == null"><button class="btn btn-success" id="wkStartBtn" th:wkCode="${work.wkCode}"  th:onclick="wkStartBtn(this.getAttribute('wkCode'))">작업 시작</button></td>
                                    <td th:if="${work.RSDate} != null" th:text="${work.RSDate}" id="RSDate"></td>
                                    <td th:if="${work.REDate} == null"><button class="btn btn-danger" id="wkEndBtn" th:wkCode="${work.wkCode}"  th:onclick="wkEndBtn(this.getAttribute('wkCode'))">작업 종료</button></td>
                                    <td th:if="${work.REDate} != null" th:text="${work.REDate}" id="REDate"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- 테이블 1 끝-->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<th:block layout:fragment="script">
    <script>
        function formatDateTime(dateTimeStr) {
            const date = new Date(dateTimeStr);
            const year = date.getFullYear();
            const month = ('0' + (date.getMonth() + 1)).slice(-2);
            const day = ('0' + date.getDate()).slice(-2);
            const hours = ('0' + date.getHours()).slice(-2);
            const minutes = ('0' + date.getMinutes()).slice(-2);

            return `${year}-${month}-${day} ${hours}:${minutes}`;
        }

        document.addEventListener("DOMContentLoaded", function () {
            const dateElements = document.querySelectorAll('.date-format');
            dateElements.forEach(element => {
                const formattedDate = formatDateTime(element.textContent);
                element.textContent = formattedDate;
            });
        });

        function wkStartBtn(wkCode){
            var emName = $("#" + wkCode).val();
            var url = "/works/addRSDate"

            if(emName === "null"){
                alert('작업자를 선택하세요.');

            }else {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: JSON.stringify({ wkCode: wkCode, emName: emName }),
                    contentType: "application/json; charset=UTF-8",
                    cache: false,
                    success: function (){
                        window.location.reload();
                    }, error: function (error){
                        alert("시작 실패" + error);
                    }
                });
            }
        }

        function wkEndBtn(wkCode){
            var url = "/works/addREDate"
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ wkCode: wkCode }),
                contentType: "application/json; charset=UTF-8",
                cache: false,
                success: function (){
                    window.location.reload();
                }, error: function (error){
                    alert("시작 실패" + error);
                }
            });
        }
    </script>
</th:block>
</html>
